html {
  height: 100%;
  width: 100%;
}

img {
    height: 120px;
    background-color: antiquewhite;
    padding: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    margin: 10px;
}